/* ==========================================================================
Styles for H1 component
========================================================================== */

// import variables
@import "../../../assets/styles/variables";

// Start styles H1 component
.a-h1 {
  font-size: 40px;
  font-weight: 700;
  color: $white;
  margin: 0;
}
