/* ==========================================================================
Styles for Card component
========================================================================== */

// import variables
@import "../../../assets/styles/variables";


// Start styles Card component
.m-card {
  margin-top: 30px;
  padding: 15px;

  // Ipad Pro
  @media only screen 
  and (min-width: 834px) 
  and (max-width: 1194px) {
    &.m-card {
      // height: 180px;
    }
  }

  .card-image-wrapper {
    border-radius: 10px;
    width: 220px;
    min-height: calc(150px * 1.5);
    background: #dbdbdb;
    overflow: hidden;
    .image-card {
      border-radius: 10px;
    }
  }
}
