/* ==========================================================================
Styles for H4 component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/variables";

// Start styles H4 component
.a-h4 {
  color: $outer-space;
  font-size: 20px;
  font-weight: 600;

}
