/* ==========================================================================
Styles for H2 component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/variables";

// Start styles H2 component
.a-h2 {
  font-size: 34px;
  font-weight: 600;
  color: $white;
  margin: 0;
}
