@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import 'variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: $white;
  font-size: 18px;

  @media screen and (max-width: 1279){
    font-size: 14px;
  }

  // Mobile screen
  @media screen and (max-width: 768px){
    font-size: 13px;
  }
  
  p {
    margin: 0px;
  }
}