$blue: #007bc1;
$dark-blue: #004a75;
$orange: #ff8000;
$dark-orange: #cc6600;
$smoke-grey:#e5e5e5;
$white: #ffffff;
$outer-space: #4E4D4D;
$silver: #bfbfbf;
$gradient-grey: rgba(3, 19, 65, 0.20);
$gradient-blue: rgba(158, 152, 163, 0.08);